<header>
	<div class="row">
		<div class="col-sm-6">
			<h1>Cadastro de usuários</h1>
		</div>
		<div class="col-sm-6 text-right h2">
	   	<a class="btn btn-success" href="">Novo usuário</a>
	  </div>
	</div>
</header>

<div class="row mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="col">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button type="button" class="btn btn-warning mr-3">Editar</button>
          <button type="button" class="btn btn-danger">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
